<footer>
    <div class="end-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="footer-section">
                        <h3>LOCATION</h3>
                        <p class="mb-0">2215 John Daniel Drive
                            Clark, MO 65243</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="footer-section">
                        <h3>AROUND THE WEB</h3>
                        <div class="footer-icons d-flex justify-content-center">
                            <div class="icon">
                                <img src="../../assets/images/facebook-f-brands.svg">
                            </div>
                            <div class="icon">
                                <img src="../../assets/images/twitter-brands.svg">
                            </div>
                            <div class="icon">
                                <img src="../../assets/images/linkedin-in-brands.svg">
                            </div>
                            <div class="icon">
                                <img src="../../assets/images/basketball-ball-solid.svg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="footer-section">
                        <h3>ABOUT FREELANCER</h3>
                        <p class="mb-0">Freelance is a free to use, MIT licensed Bootstrap theme created by .</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-rights text-white text-center">
        <p class="mb-0">Copyright © Your Website 2021</p>
    </div>
</footer>
