.about{
    padding: 180px 0 100px;
    background-color: #1abc9c;
}
h2{
    text-align: center;
    font-size: 45px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 40px;
}
.line{
    width: 25%;
    height: 5px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 40px;
}
.about-paragraph p{
    color: white;
    font-size: 20px;
}