<div class="portfolio">
    <div class="container">
        <h2>PORTFOLIO</h2>
        <div class="line mx-auto"></div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="portfolio-item">
                    <img class="w-100" src="../../assets/images/cabin.png" alt="">
                    <div class="layer">
                        <a class="w-100 h-100 position-absolute" href="#"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="portfolio-item">
                    <img class="w-100" src="../../assets/images/cake.png" alt="">
                    <div class="layer">
                        <a class="w-100 h-100 position-absolute" href="#"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="portfolio-item">
                    <img class="w-100" src="../../assets/images/circus.png" alt="">
                    <div class="layer">
                        <a class="w-100 h-100 position-absolute" href="#"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="portfolio-item">
                    <img class="w-100" src="../../assets/images/game.png" alt="">
                    <div class="layer">
                        <a class="w-100 h-100 position-absolute" href="#"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="portfolio-item">
                    <img class="w-100" src="../../assets/images/safe.png" alt="">
                    <div class="layer">
                        <a class="w-100 h-100 position-absolute" href="#"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="portfolio-item">
                    <img class="w-100" src="../../assets/images/submarine.png" alt="">
                    <div class="layer">
                        <a class="w-100 h-100 position-absolute" href="#"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
